<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Regular Setting</string>
			<key>footerText</key>
			<string>Use activator to switch hazeStatusBar anytime and everywhere. If it keep showing &quot;fetching&quot;, means the network isn&apos;t well. Try open your VPN if you are in CHINA and click &quot;Update Data Now&quot;.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.cbangchen.hazestatusbar/enablechanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.cbangchen.hazestatusbar</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Data Source Configuration</string>
			<key>footerText</key>
			<string>Default ACQIN, &apos;WILL&apos; add more.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.cbangchen.hazestatusbar/dataSourcechanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.cbangchen.hazestatusbar</string>
			<key>default</key>
			<string>1</string>
			<key>key</key>
			<string>source</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>Source</string>
			<key>validTitles</key>
			<array>
				<string>ACQIN</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Update Data</string>
			<key>footerText</key>
			<string>Choose the data update duration. /min. Work after restarting SpringBoard.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.cbangchen.hazestatusbar/dataUpdateDurationchanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.cbangchen.hazestatusbar</string>
			<key>default</key>
			<integer>10</integer>
			<key>key</key>
			<string>updateDuration</string>
			<key>max</key>
			<string>60</string>
			<key>min</key>
			<string>1</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.cbangchen.hazestatusbar/dataUpdateDurationchanged</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>defaults</key>
			<string>com.cbangchen.hazestatusbar</string>
			<key>action</key>
			<string>updateDataNow</string>
			<key>label</key>
			<string>Update Now</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Control</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.cbangchen.hazestatusbar/dataUpdateDurationchanged</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>defaults</key>
			<string>com.cbangchen.hazestatusbar</string>
			<key>action</key>
			<string>restartSpringBoard</string>
			<key>label</key>
			<string>Restart SpringBoard</string>
			<key>isDestructive</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send Feedback</string>
			<key>action</key>
			<string>sendFeedback</string>
			<key>icon</key>
			<string>feedback</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Paypal Me</string>
			<key>action</key>
			<string>paypal</string>
			<key>icon</key>
			<string>paypal</string>
		</dict>
	</array>
	<key>title</key>
	<string>HazeStatusBar</string>
</dict>
</plist>
