Package: com.cbangchen.Wwxappshortcutgenerator
Name: WXAppShortCutGenerator
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A tweak used to generate WeChat miniPrograme shortcut. 
Maintainer: cbangchen
Author: cbangchen
Section: Tweaks
Version: 0.0.1-273+debug
Installed-Size: 1324
