Package: com.cb.captchacatcher
Name: CaptchaCatcher
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A SMS verification code capture tweak.
Maintainer: cbangchen
Author: cbangchen
Section: Tweaks
Version: 0.0.2-2+debug
Installed-Size: 172
